rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px; 
}
description.example {
  fill:#000;
}

text.mono {
  font-size: 9pt;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  fill: #000000;
}

text.axis-workweek {
  fill: #000000;
}

text.axis-worktime {
  fill: #000000;
}

.d3-tip {
  line-height: 2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 9px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 0px;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

body {
   background-color:#F0F0F0;font-weight: 300;
   padding-top: 10px;
}
#chart {font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-size: 20px;display:inline; text-align: center; margin-left:auto; margin-right:auto;height: 100%; width: 700px; padding-left: 150px;
}
